<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright section
-->

<web-app id="hello-world-webapp" version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    
	<display-name>BookRec Project</display-name>
	<description>A website for books enthusiasts.</description>
	
	<!-- HelloWorld Servlet using Figlet -->
	<servlet>
		<servlet-name>newname</servlet-name>
		<servlet-class>package.MyClass</servlet-class>
	</servlet>
    
	<!-- Mapping between servlets and URIs -->  
	<servlet-mapping>
		<servlet-name>newname</servlet-name>
		<url-pattern>/link</url-pattern>
	</servlet-mapping>

</web-app>
